<div id="score">
    <h2>Score: <span id="pairsClicked">0</span></h2>
</div>
<div class="matches" data-character="match">
    <img class="back-face" id="matchedCard" data-character="match" src="img/Frozen.jpg">
</div>
