<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
        body{
          height: 100vh;
          display: flex;
          background-image: linear-gradient(to bottom right, #d2ebff, 	#88cafc);
        }
        .title{
            position: absolute;
            color: black;
            font-weight: 700;
            width: 100%;
            height: 100px;
            margin-top: 20px;
            margin-bottom: 50px;
            font-size: 50px;
            text-align: center;
            align-items: center;
        }
        .choose-game{
            background-color: transparent;
            display: flex;
            position: relative;
            width: 70%;
            height: 80vh;
            margin: auto;
            margin-top: 80px;
            border-radius: 20px;
            align-items: center;
            justify-content: center;
            padding: auto;
        }
        .game{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius:  20px;
            height: 200px;
            width: 100%;
            margin: 15px;
        }
        .game:nth-child(1) img {
            max-height: 100px;
            margin-left: 60px;
        }
        .game:nth-child(2) img {
            max-height: 150px;
        }
        .game:nth-child(3) img{
          height: 100%;
        }
        
        img{
            max-width: 100%;
            max-height: 100%;
            border-radius: 20px;
        }
        .memory-game{
          width: 1340px;
          height: 400px;
          margin: 40px auto;
          margin-left: 85px;
          display: flex;
          flex-wrap: wrap;
          perspective: 1340px;
          justify-content: center;
          align-items: center;

        }         
        .memory-card {
          display: none;
          width: calc(16% - 10px);
          height: 27%; /*calc(33.333% - 10px); */
          margin: 5px;
          position: relative;
          transform: scale(1);
          transform-style: preserve-3d;
          transition: transform .5s;
          box-shadow: 1px 1px 1px rgba(0,0,0,.3);
        }
        .memory-card:active {
          transform: scale(0.97);
          transition: transform .2s;
        }
        .memory-card.flip {
          transform: rotateY(180deg);
          
        }
        .front-face,
        .back-face {
          width: 100%;
          height: 100%;
          padding: 20px;
          position: absolute;
          border-radius: 5px;
          background: #1C7CCC;
          backface-visibility: hidden;
        } 
        .front-face {
          transform: rotateY(180deg);
        }
        .arrow{
          position: absolute;
          top: 0;
          left: 46%;
          max-width: 25px;
        }
        #score{
          position: absolute;
          left: 45px;
          top: 10px;
        }
        .matches{
        position: absolute;
        top: 5px;
        right: 55px;
        height: 125px;
        width: 170px;
      }
      .arrow, #score, .matches{
        display: none;
      }
      .visible{
        display: "flex";
      }
    </style>
  <meta charset="UTF-8">
  <title>Memory Game</title>
</head> 
<body>
    <div id="toggle">
      <div class="title">Select Size </div>
      <div class="choose-game">
        <div class="game" onclick="startGame(); small();"><a id="small"><img src="../img/bluey.jpg"></a></div>
        <div class="game" onclick="startGame(); medium()"> <a id="medium" ><img src="../img/bluey.jpg"></a></div>
        <div class="game" onclick="startGame(); large()"> <a id="large"><img src="../img/bluey.jpg"></a></div>
      </div>
    </div>
  <div><a href="/"><img class="arrow" id="arrow" src="img/backarrow.png"></a></div>
  <div id="score"><h2>Score: <span id="pairsClicked">0</span></h2></div>
  <div class="matches" id="matches" data-character="match"><img class="back-face" id="matchedCard" data-character="match" src="../img/blueyback.png"></div>
    <section class="memory-game" id="memory-game" style="display: none;">
      {{#each blueyCharacters}}
        <div class="memory-card" data-character="{{this.name}}">
          <img class="front-face" src="../img/bluey/{{{this.name}}}">
          <img class="back-face" src="../img/blueyback.png">
        </div>
        <div class="memory-card" data-character="{{this.name}}">
          <img class="front-face" src="../img/bluey/{{{this.name}}}">
          <img class="back-face" src="../img/blueyback.png">
  </div>
      {{/each}}

      

    </section>
    
    <script src="../javascripts/bluey.js"></script>
</body>
</html>