<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Memory Game</title>

  <link rel="stylesheet" href="stylesheets/styles.css">
</head> 
<body>
  <section class="memory-game">
    <div class="memory-card" data-character="Auna">
      <img class="front-face" src="img/Auna.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>
    <div class="memory-card" data-character="Auna">
      <img class="front-face" src="img/Auna.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>

    <div class="memory-card" data-character="Christof">
      <img class="front-face" src="img/Christof.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>
    <div class="memory-card" data-character="Christof">
      <img class="front-face" src="img/Christof.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>

    <div class="memory-card" data-character="Duke">
      <img class="front-face" src="img/Duke.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>
    <div class="memory-card" data-character="Duke">
      <img class="front-face" src="img/Duke.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>

    <div class="memory-card" data-character="Elsa">
      <img class="front-face" src="img/Elsa.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>
    <div class="memory-card" data-character="Elsa">
      <img class="front-face" src="img/Elsa.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>

    <div class="memory-card" data-character="Hans">
      <img class="front-face" src="img/Hans.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>
    <div class="memory-card" data-character="Hans">
      <img class="front-face" src="img/Hans.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>

    <div class="memory-card" data-character="Monster">
      <img class="front-face" src="img/Monster.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>
    <div class="memory-card" data-character="Monster">
      <img class="front-face" src="img/Monster.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>

    <div class="memory-card" data-character="Olaf">
      <img class="front-face" src="img/Olaf.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>
    <div class="memory-card" data-character="Olaf">
      <img class="front-face" src="img/Olaf.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>
    <div class="memory-card" data-character="Snowmen">
      <img class="front-face" src="img/Snowmen.jpeg" />
      <img class="back-face" src="img/Frozen.jpg">
    </div>
    <div class="memory-card" data-character="Snowmen">
      <img class="front-face" src="img/Snowmen.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>
    <div class="memory-card" data-character="Sven">
      <img class="front-face" src="img/Sven.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>
    <div class="memory-card" data-character="Sven">
      <img class="front-face" src="img/Sven.jpeg">
      <img class="back-face" src="img/Frozen.jpg">
    </div>
    <div class="memory-card" data-character="Agnarr">
      <img class="front-face" src="img/Agnarr.jpeg" alt="agnarr" />
      <img class="back-face" src="../img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="Agnarr">
      <img class="front-face" src="img/Agnarr.jpeg" alt="agnarr" />
      <img class="back-face" src="../img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="Iduna">
      <img class="front-face" src="img/iduna.jpeg" alt="iduna" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="Iduna">
      <img class="front-face" src="img/iduna.jpeg" alt="iduna" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="lizard">
      <img class="front-face" src="/img/lizard.jpeg" alt="iduna" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="lizard">
      <img class="front-face" src="img/lizard.jpeg" alt="iduna" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="mattias">
      <img class="front-face" src="../img/mattias.jpeg" alt="iduna" />
      <img class="back-face" src="../img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="mattias">
      <img class="front-face" src="img/mattias.jpeg" alt="iduna" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="oaken">
      <img class="front-face" src="img/oaken.jpeg" alt="iduna" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="oaken">
      <img class="front-face" src="img/oaken.jpeg" alt="iduna" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="bowtie">
      <img class="front-face" src="img/bowtie.jpeg" alt="bowtie" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="bowtie">
      <img class="front-face" src="img/bowtie.jpeg" alt="bowtie" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="cat">
      <img class="front-face" src="img/cat.jpeg" alt="cat" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="cat">
      <img class="front-face" src="img/cat.jpeg" alt="cat" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="duo">
      <img class="front-face" src="img/duo.jpeg" alt="duo" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="duo">
      <img class="front-face" src="img/duo.jpeg" alt="duo" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="horse">
      <img class="front-face" src="img/horse.jpeg" alt="horse" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="horse">
      <img class="front-face" src="img/horse.jpeg" alt="horse" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="kids">
      <img class="front-face" src="img/kids.jpeg" alt="kids" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="kids">
      <img class="front-face" src="img/kids.jpeg" alt="kids" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="nose">
      <img class="front-face" src="img/nose.jpeg" alt="nose" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="nose">
      <img class="front-face" src="img/nose.jpeg" alt="nose" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="slide">
      <img class="front-face" src="img/slide.jpeg" alt="slide" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="slide">
      <img class="front-face" src="img/slide.jpeg" alt="slide" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="surprise">
      <img class="front-face" src="img/surprise.jpeg" alt="surprise" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="surprise">
      <img class="front-face" src="img/surprise.jpeg" alt="surprise" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="trio">
      <img class="front-face" src="img/trio.jpeg" alt="trio" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="trio">
      <img class="front-face" src="img/trio.jpeg" alt="trio" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="white">
      <img class="front-face" src="img/white.jpeg" alt="white" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="white">
      <img class="front-face" src="img/white.jpeg" alt="white" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="troll">
      <img class="front-face" src="img/troll.jpeg" alt="iduna" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
    <div class="memory-card" data-character="troll">
      <img class="front-face" src="img/troll.jpeg" alt="iduna" />
      <img class="back-face" src="img/Frozen.jpg" alt="back" />
    </div>
  </section>
  <div id="score">
    <h2>Score: <span id="pairsClicked">0</span></h2>
  </div>
  <div class="matches" data-character="match">
    <img class="back-face" id="matchedCard" data-character="match" src="img/Frozen.jpg">
  </div>
  <script src="javascripts/scripts.js"></script>
</body>
</html>